button {
    padding: 15px 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    margin: 15px;
}